<!-- <div>
  <input type="date" [(ngModel)]="selectedDate" (change)="updateGrid()" />
  <button (click)="previousWeek()">Previous</button>
  <button (click)="nextWeek()">Next</button>
  <div class="grid-container">
    <div class="grid-item" *ngFor="let day of daysOfWeek">{{ day }}</div>
    <div class="grid-item" *ngFor="let date of dates">{{ date }}</div>
  </div>
</div> -->

  <button (click)="addEvent()">add event</button>

  <!-- CALENDER HEADER -->
  <div class="d-flex justify-content-center">
    <div class="me-4" (click)="previousWeek()">Previous</div>
    <!-- <input type="date" class="border-0 fw-bold" [(ngModel)]="selectedDate" (change)="updateGrid()" /> -->
      <div class="form-group">
        <div class="text-center">
          <span (click)="d.toggle()" class="fw-bold ms-0">{{headerDate}}</span>
          <input class="form-control border-0 fw-bold text-center custom-input"
                 name="dp" [(ngModel)]="timePickerDate" [placement]="['bottom']" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" (dateSelect)="updateGrid()">
          <!-- <div class="input-group-append">
            <button class="btn fw-bold border-0" (click)="d.toggle()" type="button"> {{headerDate}}</button>
          </div> -->
        </div>
      </div>
    <div class="ms-4" (click)="nextWeek()">Next</div>
  </div>

  <!-- CALENDER VIEW -->
  <div class="m-4 custom-calender">
    <div class="row border-0 border-top ms-5 pt-3" *ngIf="dates.length">
      <div class="col border-0" style="height: 40px"></div>
      <div class="col border-0 fw-bold text-muted ps-0" style="height: 40px" *ngFor="let date of dates" >{{ date.date }}</div>
    </div>

  <div class="row " *ngFor="let time of times; let i = index">
    <div class="col border-0 text-center" style="height: 40px" id="" [ngClass]="">{{ i % 2 === 0 ? time.time : '' }}</div>
    <div class="col border border-bottom-0 custom-border" style="height: 40px" id="{{dates[0].dateId + time.timeId}}"></div>
    <div class="col border border-bottom-0 custom-border" style="height: 40px" id="{{dates[1].dateId + time.timeId}}"></div>
    <div class="col border border-bottom-0 custom-border" style="height: 40px" id="{{dates[2].dateId + time.timeId}}"></div>
    <div class="col border border-bottom-0 custom-border" style="height: 40px" id="{{dates[3].dateId + time.timeId}}"></div>
    <div class="col border border-bottom-0 custom-border" style="height: 40px" id="{{dates[4].dateId + time.timeId}}"></div>
    <div class="col border border-bottom-0 custom-border" style="height: 40px" id="{{dates[5].dateId + time.timeId}}"></div>
    <div class="col border border-bottom-0 " style="height: 40px" id="{{dates[6].dateId + time.timeId}}"></div>
  </div>
  </div>

  <div class="border shadow-lg text-center" style="height: 40px;width: 165.88px;">
    <span class="">Abiram vj</span>
  </div>








