<!-- <div>
  <input type="date" [(ngModel)]="selectedDate" (change)="updateGrid()" />
  <button (click)="previousWeek()">Previous</button>
  <button (click)="nextWeek()">Next</button>
  <div class="grid-container">
    <div class="grid-item" *ngFor="let day of daysOfWeek">{{ day }}</div>
    <div class="grid-item" *ngFor="let date of dates">{{ date }}</div>
  </div>
</div> -->

  <button (click)="addEvent()">add event</button>

  <!-- CALENDER HEADER -->
  <div class="d-flex justify-content-center">
    <div class="me-4" (click)="previousWeek()"><</div>
    <!-- <input type="date" class="border-0 fw-bold" [(ngModel)]="selectedDate" (change)="updateGrid()" /> -->
      <div class="form-group">
        <div class="text-center">
          <span (click)="d.toggle()" class="fw-bold ms-0">{{headerDate}}</span>
          <input class="form-control border-0 fw-bold text-center custom-input" name="dp" [(ngModel)]="timePickerDate" [placement]="['bottom']" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" (dateSelect)="updateGrid()">
        </div>
      </div>
    <div class="ms-4" (click)="nextWeek()">></div>
  </div>


  <!-- CALENDER VIEW -->
  <div class="m-4 cis ">
    <!-- Fixed Header Row -->
    <div class="row border-0 border-top ms-1" *ngIf="dates.length" style="position: sticky; top: 0; background-color: white; z-index: 1;">
        <div class="col border-0 pt-2" style="height: 60px;"></div>
        <div class="col border-0 fw-bold text-muted pt-2" style="height: 60px;" *ngFor="let date of dates">
          <div>
            {{ date.date }}
          </div>
          <div>
            {{ date.days }}
          </div>
        </div>

    </div>

    <!-- Calendar Content -->
    <div class="slots custom-calender">
      <div class="row" *ngFor="let time of times; let i = index">
        <div class="col border-0 text-center" style="height: 40px">{{ i % 2 === 0 ? time.time : '' }}</div>
        <div class="col border border-bottom-0 p-0 bg-light custom-border" style="height: 40px" id="{{dates[0].dateId + time.timeId}}">
          <div class="d-flex" [ngClass]="{'d-none': isCancel[dates[0].dateId + time.timeId]}" >
            <div class="">
              <div class="small ps-2">Cancel</div>
              <div class="small fw-bold ps-2">Abiram vj</div>
            </div>
            <button (click)="cancelMeeting(dates[0].dateId + time.timeId)" class="card-button ms-auto rounded-pill mt-2 me-1 text-center d-flex align-items-center justify-content-center">
              <small class="text-white" >x</small>
            </button>
          </div>
        </div>
        <div class="col border border-bottom-0 p-0 bg-light custom-border" style="height: 40px" id="{{dates[1].dateId + time.timeId}}">

        </div>
        <div class="col border border-bottom-0 p-0 bg-light custom-border" style="height: 40px" id="{{dates[2].dateId + time.timeId}}">

        </div>
        <div class="col border border-bottom-0 p-0 bg-light custom-border" style="height: 40px" id="{{dates[3].dateId + time.timeId}}"></div>
        <div class="col border border-bottom-0 p-0 bg-light custom-border" style="height: 40px" id="{{dates[4].dateId + time.timeId}}"></div>
        <div class="col border border-bottom-0 p-0 bg-light custom-border" style="height: 40px" id="{{dates[5].dateId + time.timeId}}"></div>
        <div class="col border border-bottom-0 p-0 bg-light " style="height: 40px" id="{{dates[6].dateId + time.timeId}}"></div>
    </div>
    </div>

</div>











